<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4d2e295405.js" crossorigin="anonymous"></script>
</head>

<body>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Lamps System</a>
</nav>
<!-- Add your site or application content here -->
<div class="container-fluid row p-10">
    <div class="container col-3">
        <h1>Process ID:</h1>
        <h3 id="process_id"></h3>
        <small>Current Leader:</small>
        <small id="current_leader"></small>
        <br/>
        <br/>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value=""
                   id="checkAvailable" onclick="available = !available"
                   checked>
            <label class="form-check-label" for="checkAvailable">
                Resource Available
            </label>
        </div>
    </div>
    <div class="container col-4">
        <form id="myform" class="form-group container" action="javascript:requestResource()">
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Lamp 1</h5>
                        {% if lamp1 == True %}
                            <span id="foco" style="font-size: 3em; color: rgb(255,95,71); width: 100%">
                        {% else %}
                            <span id="foco" style="font-size: 3em; color: GrayText; width: 100%">
                        {% endif %}
                        <i class="fas fa-lightbulb"></i>
                        </span>
                        <p class="card-text">Press button to change lamp status</p>
                        <button type="submit" name="lamp1" value="true"
                                class="d-flex btn justify-content-center active p-3 mt-2 ml-1 mr-1 col-md bg-danger">
                        Toggle
                    </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container col-5">
        <h2>Messages Received</h2>
        <div id="messages">
        </div>
    </div>
</div>
<button class="btn-secondary" onclick="restartTopology()" style="position: fixed; bottom: 0">r</button>
</body>
<script>
    //Constants

    const REQUEST_RESOURCE = 1;
    const REQUEST_RESPONSE = 2;
    const M_FIND_NEW_LEADER = 3;
    const M_ADVERTISE_LEADER = 4;


    const URL_BASE = 'http://192.168.43.245:65000/ajax/';

    let CLIENT_ID = "{{ pid }}";

    let currentLeader = 0;
    let available = true;


    //server handler
    function webHandler(route, method, getInfo) {
        return new Promise((resolve, reject) => {
            fetch(URL_BASE + route + getInfo, {
                method: method
            })
                .then((response) => response.json())
                .catch(reason => {
                    reject(reason)
                })
                .then((res) => resolve(res))
                .catch(reason => {
                    reject(reason)
                });
        });
    }

    //Functions

    function toogleState() {
        available = !available;
    }


    function responseRequest(destination, response, type) {
        webHandler('response-request',
            'GET',
            `?message={"destination":${destination},"leader":${response},"type":${type}}`)
            .then(res => {
                console.log('response resource', res);
            }).catch(reason => {
            console.log(reason);
        });
    }

    function restartTopology() {
        webHandler('restart-topology',
            'GET',
            `?`)
            .then(res => {
                console.log('response', res);
            }).catch(reason => {
            console.log(reason);
        });
    }

    function registerClient() {
        let pid = Math.floor((Math.random() * 10000) + 1);
        if (CLIENT_ID === "") {
            webHandler('register-client',
                'GET',
                `?pid=${pid}`)
                .then(response => {
                    currentLeader = response.currentLeader;
                    console.log('Current Leader', currentLeader);
                    CLIENT_ID = response.pid;
                    document.getElementById("process_id").innerText = response.pid;
                    document.getElementById("current_leader").innerText = response.currentLeader;
                    console.log('Node id', CLIENT_ID);

                    setInterval(() => {
                        pullMessages();
                    }, 1000);

                }).catch(reason => {
                console.log('error registering client' + reason);
            })
        }

    }

    function findLeader(source, candidates) {
        webHandler('find-leader',
            'GET',
            `?message={"source":${source},"candidates":[${candidates}],"type":${M_FIND_NEW_LEADER}}`)
            .then(response => {
                console.log('leader resource', response);
            }).catch(reason => {
            console.log('error ' + reason);
        })
    }


    function requestResource() {
        webHandler('request-resource',
            'GET',
            `?message={"source":${CLIENT_ID},"leader":${currentLeader},"type":${REQUEST_RESOURCE}}`)
            .then(res => {
                if (res.message !== "")
                    console.log('request resource', res);
                switch (res.type) {
                }
            }).catch(reason => {
            console.log(reason);
        });
    }

    function advertiseNewLeader(source, leader) {
        webHandler('advertise-leader',
            'GET',
            `?message={"source":${source},"leader":${leader},"type":${M_ADVERTISE_LEADER}}`)
            .then(response => {
                console.log('leader resource', response);
            }).catch(reason => {
            console.log('error ' + reason);
        })
    }

    function accessResource() {
        webHandler('access-resource',
            'GET',
            `?pid=${CLIENT_ID}`
        )
            .then(response => {
                console.log('RESOURCE ACCESS', response);
                if(response.lamp === true){
                                document.getElementById("foco").style = "font-size: 3em; color: rgb(255,95,71); width: 100%";
                            } else {
                                document.getElementById("foco").style = "font-size: 3em; color: GrayText; width: 100%";
                            }
            }).catch(reason => {
            console.log('error ' + reason);
        })
    }


    function pullMessages() {
        webHandler('pull-messages',
            'GET',
            `?pid=${CLIENT_ID}`)
            .then(res => {
                if (res.message.type !== undefined) {

                    console.log(res.message);

                    if (res.message !== "") {
                        let msg = document.createTextNode(JSON.stringify(res.message));
                        let msgDiv = document.createElement("div");
                        msgDiv.appendChild(msg);
                        document.getElementById("messages").prepend(msgDiv);
                    }

                    switch (res.message.type) {
                        case REQUEST_RESOURCE:
                            responseRequest(res.message.source, available, REQUEST_RESPONSE);
                            if (available) {
                                accessResource();
                            }
                            break;
                        case REQUEST_RESPONSE:
                            if(res.lamp === true){
                                document.getElementById("foco").style = "font-size: 3em; color: rgb(255,95,71); width: 100%";
                            } else {
                                document.getElementById("foco").style = "font-size: 3em; color: GrayText; width: 100%";
                            }
                            if (res.message.leader) {


                            } else {
                                findLeader(CLIENT_ID, [CLIENT_ID]);
                            }
                            break;
                        case M_FIND_NEW_LEADER:
                            console.log('M_FIND_NEW_LEADER', res);
                            let candidates = res.message.candidates;
                            if (available) {
                                if (candidates.includes(parseInt(CLIENT_ID))) {
                                    console.log("find here leader", res);

                                    let newLeader = Math.max(...res.message.candidates);
                                    currentLeader = newLeader;
                                    document.getElementById("current_leader").innerText = currentLeader;
                                    if (currentLeader === parseInt(CLIENT_ID))
                                        alert("YOU'RE THE NEW LEADER!!!");
                                    advertiseNewLeader(CLIENT_ID, newLeader);
                                } else {
                                    candidates.push(CLIENT_ID);
                                    findLeader(CLIENT_ID, candidates);
                                }
                            } else {
                                findLeader(CLIENT_ID, candidates);
                            }
                            break;
                        case M_ADVERTISE_LEADER:
                            if (currentLeader !== res.message.leader) {
                                currentLeader = res.message.leader;
                                document.getElementById("current_leader").innerText = currentLeader;
                                advertiseNewLeader(CLIENT_ID, res.message.leader);
                                if (currentLeader === parseInt(CLIENT_ID))
                                        alert("YOU'RE THE NEW LEADER!!!");
                            } else {

                            }
                            break;
                    }
                }

            }).catch(reason => {
            console.log(reason);
        });
    }


    //Index
    registerClient();
</script>
</html>
